<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            '@bootstrap_css'

            filter='scssphp,cssrewrite'
            output='css/compiled/output.css' %}

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>

        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            {% if app.session.flashbag.has( 'error' ) %}
                <div class="alert alert-danger">
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <p>{{ flashMessage|raw }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has( 'success' ) %}
                <div class="alert alert-success">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <p>{{ flashMessage|raw }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has( 'notice' ) %}
                <div class="alert alert-info">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p>{{ flashMessage|raw }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has( 'info' ) %}
                <div class="alert alert-warning">
                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <p>{{ flashMessage|raw }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% block body %}{% endblock %}

        {% javascripts
            '@jquery'
            '@bootstrap_js'
            'js/default.js'

            filter='?jsqueeze'
            output='js/compiled/output.js' %}

            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
