{% if inDir %}
    <tr>
        <td colspan="5">
            <a class="btn btn-link" href="{{ path( 'go_to_dir', { 'order' : 'out', 'dir' : '' } ) }}" role="button">..</a>
        </td>
    </tr>
{% endif %}

{% for currentFile in directoryInfo %}
    <tr class="file-row">
        <td>
            <div class="file-name">
                {% if currentFile.isDir %}
                    <span class="glyphicon glyphicon-folder-close"></span>
                    <a class="btn btn-link" href="{{ path( 'go_to_dir', { 'order' : 'in', 'dir' : currentFile.getName() } ) }}" role="button">{{ currentFile.getName() }}</a>

                {% else %}
                    <span class="glyphicon glyphicon-file"></span>
                    {{ currentFile.getName() }}
                {% endif %}
            </div>
        </td>
        <td>
            {{ currentFile.getSize()}}
        </td>
        <td>
            {{ currentFile.getNumberFiles()}}
        </td>
        <td>{{ currentFile.getMtimeAsString() }}</td>
        <td>
            <a href="{{ path( 'form_edit', { 'fileName' : currentFile.getName() } ) }}" class="btn-edit btn btn-sm btn-warning" role="button" data-toggle="tooltip" data-placement="top" title="Edit name">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            {% if not currentFile.isDir %}
                <a href="{{ path( 'download', { 'fileName' : currentFile.getName() } ) }}" class="btn btn-sm btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Download file">
                    <span class="glyphicon glyphicon-save"></span>
                </a>
            {% endif %}
            <a href="{{ path( 'delete', { 'fileName' : currentFile.getName() } ) }}" class="btn btn-sm btn-danger" role="button" data-toggle="tooltip" data-placement="top" title="Delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
{%  endfor %}