<div class="table-directory table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="bg-info">
        <tr>
            <th>
                Name
                <a href="{{ path( 'sort_by_name', { 'sort' : newSort } ) }}" data-sort-next="{{ curSort }}" data-sort="{{ newSort }}" class="btn-sort-name btn btn-sm btn-default" role="button" data-toggle="tooltip" data-placement="top" title="Sort {{ newSort }}">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th>Size [B]</th>
            <th>Number of files</th>
            <th>Last modified time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="directory-row">
            {% include('AppBundle:default:directory_list_tbody.html.twig') with {"directoryInfo": directoryInfo, "inDir": inDir} %}
        </tbody>
    </table>
</div>