{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h1>Storage files</h1>
            </div>

            <div class="alert alert-warning">
                {{ errorMsg }}
            </div>

        </div>
    </div>
{% endblock %}
