{% form_theme formedit 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(formedit, { 'attr': { 'class':'form-inline'}}) }}
<div class="form-inline">
    {{ form_errors(formedit) }}

    <div class="form-group">
        {{ form_row(formedit.filename) }}
    </div>
    <div class="form-group">
        {{ form_widget(formedit.submit) }}
    </div>
</div >
{{ form_end(formedit) }}