{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div id="container-index">
        <div>
            <h1>Storage files</h1>
        </div>

        <div class="mb-5 well well-sm row">
            <div class="col-sm-4">
                {{ form_start(form, { 'attr': { 'class':'form-inline'}}) }}
                <div id="storage_uploaded_file" class="form-inline">
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_row(form.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                    </div>
                </div >
                {{ form_end(form) }}
            </div>
            <div class="col-sm-8">
                <div class="folder-name">
                    <a href="{{ path( 'create_folder' ) }}" class="btn-folder btn btn-sm btn-success" role="button" data-toggle="tooltip" data-placement="top" title="Create folder">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>

        {% include('AppBundle:default:directory_list.html.twig') with {"directoryInfo": directoryInfo, "inDir": inDir, 'newSort': newSort, 'curSort': curSort } %}
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('js/default.js') }}"></script>
{% endblock %}



